# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Roniel Nunes\Desktop\Sexto Periodo\CCF 331 - Teoria e Modelo de Grafos\Trabalho pratico\TPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
